@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends';

.content {
  height: 348px;
  background: $grey-1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  .container {
    margin: 16px 16px 16px 24px;

    .header {
      @extend %font-base;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      a {
        text-decoration: none;
        color: $blue-6;
      }

      p {
        margin: 0;
      }

      .info {
        display: flex;
        justify-self: end;

        .clock {
          display: flex;
          gap:4px;
        }

        .point {
          align-self: center;
          margin: 0 8px;
          height: 4px;
          width: 4px;
          border-radius: 2px;
          background: $grey-6;
        }

      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 16px;
      flex-direction: column;
      padding: 0;

      li {
        padding-top: 0;
      }
    }

    .footer {
      display: flex;
    }
  }
}