@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends';

.header {
  display: grid;
  grid-template-columns: 48px 1fr 15.75px;
  grid-template-rows: repeat(2, 24px);
  grid-template-areas: 'logo name points'
                       'logo info points';
  padding: 16px;

  .logo {
      grid-area: logo;
  }

  p {
    margin: 0;

  }

  .name {
    color:$blue-8;
    grid-area: name;
    padding-left: 12px;
    align-self: end;
  }

  .info {
    padding-left: 12px;
    display: flex;
    text-align: center;
    color:$grey-7;
    @extend %font-base;

    .point {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color:$grey-6;
      margin: auto 6px;
    }

    .gear {
     display: flex;
      img {
        margin: auto 0;
      }
    }
  }

  .points {
    grid-area: points;
  }
}