@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends';

.content {
  height: 56px;
  background: $grey-1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $grey-8;
  @extend %font-base;

  .container {
    display: flex;
    align-items: center;
    margin-left: 18.62px;

    p {
      margin-left: 10.62px;

      span {
        color:$blue-8;
        font-weight: 600;
      }
    }
  }
}