@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends.scss';

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-8;

  .container {
    width:$container;
    display: flex;


    .search {
      display: flex;
      align-items: center;
        input {
          height: 32px;
          width: 336px;
          border: 1px solid $grey-5;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 5px 30px 5px 12px;
          background-image: url('../../assets/img/header/search.svg');
          background-repeat: no-repeat;
          background-color:$grey-1;
          background-position: right 11.75px center;
          @extend %font-base;
        }
    }

    nav {
      flex-grow: 1;


      .panel {
        display: flex;
        align-items: center;
        justify-content: end;
        gap:25px;

        span {
          display: flex;
          gap: 12.5px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $grey-1;
        }

        a {
          text-decoration: none;
          color: $grey-1;
        }
      }

    }
  }
}