@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends';

.user_post {
  height: 571px;
  background: $grey-1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @extend %font-base;
  position: relative;

  .advice {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 88px;
    margin: 0 16px;
    color: $grey-8;

    p {
      margin: 0;
    }

    p.learn {
      align-self: end;
    }

    a {
      text-decoration: none;
      color: $blue-6;
    }
  }

  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13.56px;

    .like {
      align-self: start;
      margin: 0 0 13.56px 16px;
      color: $grey-8;
      @extend %font-base;

      :first-child {
        padding-right: 5.75px;
      }
    }
  }

  .footer {
    margin: 0 16px;
    border: 1px $grey-4;
    border-style: solid none none none;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0;

      li {
        display: flex;
        gap: 11px;
        @extend %font-base;
        font-weight: 600;
        color: $grey-8;
      }
    }
  }

  .menu {
    position: absolute;
    bottom: 10px;
    right: -60px;
    z-index: 1;
  }
}