@import 'src/assets/styles/default_values';
@import 'src/assets/styles/extends';

.user_post {
  height: 571px;
  background: $search-bg;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @extend %font-base;

  .advice {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 88px;
    margin: 0 16px;
    color: $text-color;

    p {
      margin: 0;
    }

    p.learn {
      align-self: end;
    }
  }

  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13.56px;

    .like {
      align-self: start;
      padding-left: 16px;
      border-bottom: 1px solid black;
    }
  }

  .footer {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}