
//container

$container:1200px;
$container-bg:#E5E5E5;

//header

$main-bg:#0050B3;
$search-bg:#FFFFFF;
$search-border:#D9D9D9;


//content

$text-color:#595959;
$spec-color:#1890FF;
$button-bg:#F5F5F5;
$point-bg: #BFBFBF;
$grey-7:#8C8C8C;



