@import 'src/assets/styles/default_values.scss';
@import 'src/assets/styles/extends';


.more {
  a {
    display: flex;
    text-decoration: none;
    color: $grey-8;
    @extend %font-base;

    span {
      color: $blue-6;
      padding-left: 14.5px;
    }
  }
}