@import 'src/assets/styles/extends';

.content {
  display: flex;
  @extend %font-base;
  color:#8C8C8C;

  p {
    margin: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width:48px;
    }
  }

  .body {
    padding-left: 12px;
    align-self: center;
    justify-self: center;
  }

  .title {
    color: #0050B3;
    font-weight:bold;
  }
}